name: Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.2.0

      - name: Restore NuGet packages
        run: nuget restore SoG_SGreader.sln

      - name: Build with MSBuild
        run: msbuild /p:Configuration=Release /m /p:BuildInParallel=true /p:BuildIncrementally=true SoG_SGreader.sln

      - name: Setup VSTest Console
        uses: darenm/Setup-VSTest@v1.2

      - name: Test
        run: vstest.console.exe /TestAdapterPath:"packages" SoG_SGreader.Test\bin\Release\SoG_SGreader.Test.dll

      - name: Upload artifact
         uses: actions/upload-artifact@v2
         with:
           name: SoG_SGreader
           path: SoG_SGreader\bin